a {
	text-decoration: none;
	color: black;
}

main {
	height: calc(100vh -70px);
	width: calc(100% -240px);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 240px;
	margin-top: 70px;
}
