.spacer {
	margin: 10px 0 20px 0 !important;
}
.bottom-spacer {
	margin-bottom: 5vh !important;
}
.block-text {
	width: 100%;
}
.media-cont,
.non-click-media-cont {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.media-cont video,
.media-cont img,
.non-click-media-cont img {
	margin: 15px;
}

.media-cont img {
	cursor: zoom-in;
}

.modal-img {
	height: 80vh;
}

.links-cont {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}
.links-cont > div {
	margin: 10px 20px;
}
