.main-root {
	width: 70%;
	height: 70vh;
}
.main-title {
	text-align: center;
}

.main-block {
	margin: 10vh 0 !important;
}

.side-by-side-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}

.comparison-img {
	height: 75vh;
	margin: 0 20px;
}
.first-compare-image {
	border-right: 2px solid gray;
}

.code-block {
	color: red;
}
